*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --bg-color:#C6E4D6;
  --section-color:#ffffff;
  --btn-color: #006A50;
  --border-color: #cdd0d4;
  --text-color: #0E0E0E;
}

/* sheared file */
.btn-primary{
  font-weight: 600;
  font-size: 18px;
  color: var(--section-color);
  background-color: var(--btn-color);
  border: none;
  text-decoration: none;
  border-radius: 8px;
  transition: .5s ease;
}

.btn-primary:hover{
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  background-color: var(--section-color);
}

.title{
  font-weight: 800;
  font-size: 40px;
  color: var(--text-color);
  
}

.sub-title{
  font-weight: 800;
  font-size: 20px;
  color: var(--text-color);
  opacity: 80%;
}

.description{
  font-weight: 300;
  font-size: 16px;
  color: var(--text-color);
  opacity: 80%;
}

/* body */
body{
  padding: 0 160px;
  background: #ebedf0;
}

/* font family */
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

/* header */

header{
  margin-bottom: 80px;
}
/* nav start */
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  margin-bottom: 20px;
}

.logo{
  font-size: 32px;
}
.nav-btn{
  font-family: 600;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  border-radius: 8px;
  transition: .5s ease all;
}

.nav-btn:hover{
  color: var(--section-color);
  background-color: var(--btn-color);
}

/* nav close */
/* head item start */
.head-item{
  width: 100%;
  height: 560px;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 59px;
  background-color: var(--bg-color);
  border: none;
  border-radius: 24px;
}

.header-text{
  width: 630px;
}

.head-tag{
  font-weight: 400;
  font-size: 24px;
  margin: 10px 0;
}

.hade-title{
  font-weight: 800;
  font-size: 54px;
  margin: 0 0 28px 0;
}

.head-btn{
  margin: 20px 0 0 0;
  padding: 17px 34px;
}

.head-btn a{
  text-decoration: none;
  
}

/* main section */

/* pillars st */
.pillars{
  width: 100%;
  height: 324px;
  margin-bottom: 80px;
}

.pillar-tag{
  padding: 10px 0;
}
.pillars-item{
  display: flex;
  justify-content: space-around;
  gap: 24px;
  padding: 20px 0;
}

.pillar{
  width: 302px;
  height: 244px;
  padding: 24px;
  border: .5px solid var(--border-color);
  border-radius: 16px;
  background-color: var(--section-color);
}

.pillar img{
  margin-bottom: 24px;
}

.pillar-title{
  margin-bottom: 12px;
}

/* pillar end */

/* future st */

.future-all{
  width: 100%;
  height: 765px;
  margin-bottom: 80px;
}

.future-title{
  margin-bottom: 24px;
}

.future-des{
  margin-bottom: 32px;
}

.futures{
  display: flex;
  justify-content: space-around;
  gap: 56px;
  margin-bottom: 32px;
}

.futures-item{
  width: 410px;
  height: 325px;
  padding: 32px;
  border: none;
  border-radius: 16px;
}

.future-btn{
  padding: 11px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  color: var(--section-color);
}

.futures-item > img{
  margin-bottom: 24px;
}

.futures-item > h4{
  margin-bottom: 12px;
}

.futures-item > p{
  margin-bottom: 24px;
}

.futures-motive{
  padding: 48px 24px;
  background-color: var(--section-color);
  border: .5px solid var(--border-color);
  border-radius: 16px;
}

.futures-des{
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
}

.futures-des > p{
  margin-bottom: 12px;
}

/* future end */

/* option start */

.option{
  width: 100%;
  height: 490px;
  margin-bottom: 80px;
}

.option-head{
  margin-bottom: 24px;
}

.options{
  width: 100%;
  height: 409px;
  background-color: var(--section-color);
  border: none;
  border-radius: 16px;
  padding: 24px 32px;
}

.options table{
  width: 100%;
  height: 340px;
  border: .5px solid var(--border-color);
  border-collapse: collapse;
}

.options table td{
  border: .5px solid var(--border-color);
  padding: 20px;
  align-items: center;
}

.options thead{
  height: 70px;
  background-color: var(--bg-color);
}

.options thead th{
  text-align: left;
  padding: 20px;
}

.options select{
  width: 200px;
  height: 55px;
  font-weight: 400;
  font-size: 19px;
  margin-left: 35px;
  padding: 0 20px;
  background-color: var(--bg-color);
  border-radius: 5px;
}
/* option end */

/* news start */
.news{
  width: 100%;
  height: 1406px;
  margin-bottom: 80px;
}

.news-head{
  margin-bottom: 32px;
}

.news-title{
  margin-bottom: 24px;
}

.news-item{
  width: 100%;
  height: 402px;
  padding: 48px;
  margin-bottom: 24px;
  align-items: center;
  display: flex;
  gap: 32px;
  background-color: var(--section-color);
  border: none;
  border-radius: 24px;
}

.news-item-image img{
  width: 408px;
  height: 306px;
  border: none;
  border-radius: 24px;
}

.news-item-text h4{
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 12px;
}

.news-item-text img{
  margin-bottom: 12px;
}

.news-time{
  display: flex;
  gap: 12px;
}
.news-item-text .news-time{
  margin-bottom: 12px;
}

.news-item-text .newses{
  margin-bottom: 32px;
}

.news-item-text a{
  padding: 13px 26px;
  transition: .5s ease;
}

.news-item-text a:hover{
  border: 1px solid var(--btn-color);
}

/* news end */

/* donate start */

.donate{
  width: 100%;
  height: 464px;
  align-items: center;
  text-align: center;
  padding: 0 60px;
  margin-bottom: 80px;
}

.donate-amount{
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 32px;
}

.donate-amount a{
  width: 240px;
  height: 110px;
  font-weight: 600;
  font-size: 32px;
  color: var(--text-color);
  opacity: 80%;
  background-color: var(--section-color);
  border: none;
  border-radius: 16px;
  padding: 35px;
  text-decoration: none;
  transition: .5s ease;
}

.donate-amount a:hover{
  background-color: var(--bg-color);
}

.amount-space input{
  width: 1000px;
  height: 64px;
  align-items: center;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  color: var(--text-color);
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--section-color);
  margin-bottom: 32px;
}

.amount-space input::placeholder{
  font-weight: 200;
  font-size: 20px;
}

.donate-head h3{
  margin-bottom: 24px;
}

.donate-head{
  margin-bottom: 32px;
}

.donate-btn{
  padding: 17px;
}

/* donate end */

/* Newsletter start */

.newsletter{
  width: 100%;
  height: 395px;
  align-items: center;
  text-align: center;
  padding: 80px 180px;
  margin-bottom: 80px;
  background-color: var(--bg-color);
  border: none;
  border-radius: 24px;
}

.newsletter-head h3{
  margin-bottom: 16px;
}



.newsletter-head{
  margin-bottom: 24px;
}

.news-input{
  margin-right: 150px;
  margin-bottom: 24px;
}

.news-input input{
  width: 550px;
  height: 55px;
  font-weight: 200;
  font-size: 20px;
  position: relative;
  border: none;
  border-radius: 5px;
  padding: 0 30px;
  margin: 0;
}

.news-input input::placeholder{
  font-weight: 200;
  font-size: 20px;
}

.news-input button{
  position: absolute;
  width: 150px;
  height: 56px;
  border-radius: 0 5px 5px 0;
}

.news-input button:hover{
  background-color: var(--btn-color);
  color: var(--section-color);
}

/* Newsletter end */

/* footer start */

.footer{
  width: 100%;
  height: 226px;
  align-items: center;
  text-align: center;
}

.footer-hade{
  width: 800px;
  height: 70px;
  border-bottom: .5px solid var(--border-color);
  margin-left: 200px;
}
.footer-hade h4{
  font-weight: 800;
  font-size: 32px;
  padding: 15px;
}

.footer-img img{
  width: 50px;
  padding: 25px 10px;cursor: pointer;
}